In [1]:
import numpy as np
import pandas as pd

In [2]:
#read biovolume measurements
r_filenameTSV = '/Users/annasommer/Documents/Documents/Norwich_Project/Data/uvp_tara/size_spectra.csv'
tsv_read_columns = pd.read_csv(r_filenameTSV)

In [3]:
tsv_read_columns.columns

Index(['part_sampleid', 'depth', 'watervolume', 'biovol18', 'biovol19',
       'biovol20', 'biovol21', 'biovol22', 'biovol23', 'biovol24', 'biovol25',
       'biovol26', 'biovol27', 'biovol28', 'biovol29', 'biovol30', 'biovol31',
       'biovol32', 'biovol33', 'biovol34', 'biovol35', 'biovol36', 'biovol37',
       'biovol38', 'biovol39', 'biovol40', 'biovol41', 'biovol42', 'biovol43',
       'biovol44', 'biovol45'],
      dtype='object')

In [4]:
tsv_read_columns

,part_sampleid,depth,watervolume,biovol18,biovol19,biovol20,biovol21,biovol22,biovol23,biovol24,...,biovol36,biovol37,biovol38,biovol39,biovol40,biovol41,biovol42,biovol43,biovol44,biovol45
0,13027,2.5,45.32,0,0.0,0,0.0,0.0,0.019826,0.012752,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,13027,7.5,45.32,0,0.0,0,0.0,0.0,0.016894,0.012106,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,13027,12.5,36.05,0,0.0,0,0.0,0.0,0.018717,0.013190,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,13027,17.5,32.96,0,0.0,0,0.0,0.0,0.016653,0.011985,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13027,22.5,29.87,0,0.0,0,0.0,0.0,0.016737,0.009552,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94474,13352,392.5,43.26,0,0.0,0,0.0,0.0,0.005900,0.002706,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94475,13352,397.5,47.38,0,0.0,0,0.0,0.0,0.006493,0.003551,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94476,13352,402.5,45.32,0,0.0,0,0.0,0.0,0.006557,0.003551,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94477,13352,407.5,43.26,0,0.0,0,0.0,0.0,0.006950,0.004566,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94478,13352,412.5,18.54,0,0.0,0,0.0,0.0,0.003771,0.002367,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
biovol_mm = tsv_read_columns[['part_sampleid', 'depth', 'watervolume', 'biovol18', 'biovol19',\
'biovol20', 'biovol21', 'biovol22', 'biovol23', 'biovol24', 'biovol25',\
'biovol26', 'biovol27', 'biovol28', 'biovol29', 'biovol30', 'biovol31',\
'biovol32', 'biovol33', 'biovol34', 'biovol35', 'biovol36', 'biovol37',\
'biovol38', 'biovol39', 'biovol40', 'biovol41', 'biovol42', 'biovol43',\
'biovol44', 'biovol45']]

In [6]:
#convert mm3/L to mm3
for i in np.arange(0,tsv_read_columns.columns.size,1):
    name_biovol = tsv_read_columns.columns[i]  
    if name_biovol[:6] == 'biovol':
        biovol_mm[name_biovol] = biovol_mm[name_biovol]

In [7]:
biovol_mm

,part_sampleid,depth,watervolume,biovol18,biovol19,biovol20,biovol21,biovol22,biovol23,biovol24,...,biovol36,biovol37,biovol38,biovol39,biovol40,biovol41,biovol42,biovol43,biovol44,biovol45
0,13027,2.5,45.32,0,0.0,0,0.0,0.0,0.019826,0.012752,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,13027,7.5,45.32,0,0.0,0,0.0,0.0,0.016894,0.012106,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,13027,12.5,36.05,0,0.0,0,0.0,0.0,0.018717,0.013190,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,13027,17.5,32.96,0,0.0,0,0.0,0.0,0.016653,0.011985,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13027,22.5,29.87,0,0.0,0,0.0,0.0,0.016737,0.009552,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94474,13352,392.5,43.26,0,0.0,0,0.0,0.0,0.005900,0.002706,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94475,13352,397.5,47.38,0,0.0,0,0.0,0.0,0.006493,0.003551,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94476,13352,402.5,45.32,0,0.0,0,0.0,0.0,0.006557,0.003551,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94477,13352,407.5,43.26,0,0.0,0,0.0,0.0,0.006950,0.004566,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94478,13352,412.5,18.54,0,0.0,0,0.0,0.0,0.003771,0.002367,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
biomass_estim = biovol_mm[['part_sampleid', 'depth', 'watervolume', 'biovol18', 'biovol19',\
'biovol20', 'biovol21', 'biovol22', 'biovol23', 'biovol24', 'biovol25',\
'biovol26', 'biovol27', 'biovol28', 'biovol29', 'biovol30', 'biovol31',\
'biovol32', 'biovol33', 'biovol34', 'biovol35', 'biovol36', 'biovol37',\
'biovol38', 'biovol39', 'biovol40', 'biovol41', 'biovol42', 'biovol43',\
'biovol44', 'biovol45']]

In [9]:
#convert to biomass accordong to Alldredge
for i in np.arange(0,tsv_read_columns.columns.size,1):
    name_biovol = tsv_read_columns.columns[i]  
    if name_biovol[:6] == 'biovol':
        biomass_estim[name_biovol] = 3.33 * biomass_estim[name_biovol]**0.54

In [10]:
biomass_estim

,part_sampleid,depth,watervolume,biovol18,biovol19,biovol20,biovol21,biovol22,biovol23,biovol24,...,biovol36,biovol37,biovol38,biovol39,biovol40,biovol41,biovol42,biovol43,biovol44,biovol45
0,13027,2.5,45.32,0.0,0.0,0.0,0.0,0.0,0.400817,0.315834,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,13027,7.5,45.32,0.0,0.0,0.0,0.0,0.0,0.367639,0.307095,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,13027,12.5,36.05,0.0,0.0,0.0,0.0,0.0,0.388554,0.321648,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,13027,17.5,32.96,0.0,0.0,0.0,0.0,0.0,0.364797,0.305433,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13027,22.5,29.87,0.0,0.0,0.0,0.0,0.0,0.365791,0.270199,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94474,13352,392.5,43.26,0.0,0.0,0.0,0.0,0.0,0.208299,0.136733,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94475,13352,397.5,47.38,0.0,0.0,0.0,0.0,0.0,0.219370,0.158361,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94476,13352,402.5,45.32,0.0,0.0,0.0,0.0,0.0,0.220530,0.158361,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94477,13352,407.5,43.26,0.0,0.0,0.0,0.0,0.0,0.227573,0.181379,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94478,13352,412.5,18.54,0.0,0.0,0.0,0.0,0.0,0.163590,0.127221,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
biomass_estim_mmL = biomass_estim[['part_sampleid', 'depth', 'watervolume', 'biovol18', 'biovol19',\
'biovol20', 'biovol21', 'biovol22', 'biovol23', 'biovol24', 'biovol25',\
'biovol26', 'biovol27', 'biovol28', 'biovol29', 'biovol30', 'biovol31',\
'biovol32', 'biovol33', 'biovol34', 'biovol35', 'biovol36', 'biovol37',\
'biovol38', 'biovol39', 'biovol40', 'biovol41', 'biovol42', 'biovol43',\
'biovol44', 'biovol45']]

In [12]:
#biomass per L
for i in np.arange(0,tsv_read_columns.columns.size,1):
    name_biovol = tsv_read_columns.columns[i]  
    if name_biovol[:6] == 'biovol':
        biomass_estim_mmL[name_biovol] = biomass_estim[name_biovol] / biomass_estim['watervolume']

In [13]:
biomass_estim_mmL

,part_sampleid,depth,watervolume,biovol18,biovol19,biovol20,biovol21,biovol22,biovol23,biovol24,...,biovol36,biovol37,biovol38,biovol39,biovol40,biovol41,biovol42,biovol43,biovol44,biovol45
0,13027,2.5,45.32,0.0,0.0,0.0,0.0,0.0,0.008844,0.006969,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,13027,7.5,45.32,0.0,0.0,0.0,0.0,0.0,0.008112,0.006776,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,13027,12.5,36.05,0.0,0.0,0.0,0.0,0.0,0.010778,0.008922,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,13027,17.5,32.96,0.0,0.0,0.0,0.0,0.0,0.011068,0.009267,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13027,22.5,29.87,0.0,0.0,0.0,0.0,0.0,0.012246,0.009046,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94474,13352,392.5,43.26,0.0,0.0,0.0,0.0,0.0,0.004815,0.003161,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94475,13352,397.5,47.38,0.0,0.0,0.0,0.0,0.0,0.004630,0.003342,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94476,13352,402.5,45.32,0.0,0.0,0.0,0.0,0.0,0.004866,0.003494,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94477,13352,407.5,43.26,0.0,0.0,0.0,0.0,0.0,0.005261,0.004193,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94478,13352,412.5,18.54,0.0,0.0,0.0,0.0,0.0,0.008824,0.006862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0